.about-info {
  padding: 140px 0;
  .about-info-container {
    display: flex;
    justify-content: flex-end;
  }
  .about-block {
    margin: 50px 0;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.05);
    width: 55%;
    background-color: #ffffff;
    padding: 90px 80px;
    position: relative;
    &::before {
      position: absolute;
      display: block;
      width: 90%;
      top: -15%;
      bottom: -15%;
      left: -80%;
      z-index: -1;
      content: "";
      border: solid 10px rgba(0, 0, 0, 0.2);
      background-image: url("./img/about.jpg");
      background-repeat: no-repeat;
      background-size: auto 100%;
    }
    &::after {
      position: absolute;
      display: block;
      bottom: 0;
      left: 0;
      content: "";
      width: 100%;
      height: 4px;
      background: linear-gradient(
        to right,
        $red 25%,
        $green 25%,
        $green 50%,
        $purple 50%,
        $purple 75%,
        $orange 75%
      );
    }
  }
  .about-title {
    color: $grayTextDark;
  }
  .about-description {
    color: $grayTextLight;
  }
}
