$darkGray: #3f4049;
$lightGray: #cccccc;
$superLightGray: #f7f7f7;
$red: #fc5f45;
$green: #37c595;
$purple: #b17bf5;
$orange: #feb960;
$grayTextDark: #313131;
$grayTextLight: #616161;
$creamText: #fef4f2;
$redHover: #f13413;

.title-block {
  color: $grayTextDark;
}
.title-description {
  color: $grayTextLight;
}
