.portfolio {
  padding: 140px 0;
  img {
    width: 100%;
    cursor: pointer;
    &:focus {
      width: auto;
    }
  }
  .portfolio-block {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .portfolio-item {
    //width: 32%;
    padding: 2%;
  }
}
