.testimonials {
  padding: 60px 20px;
  background: $darkGray;

  .title-block,
  .title-description {
    color: #ffffff;
  }

  @media (min-width: 960px) {
    padding: 140px 10px;
  }
}

.slider-general {
  width: 100%;
  height: 70vh;
  @media (min-width: 550px) {
    height: 80vh;
  }
  @media (min-width: 787px) {
    height: 50vh;
  }
}

.slider-item {
  display: flex;
  align-items: center;
  flex-direction: column;
  @media (min-width: 787px) {
    flex-direction: row;
  }
}

.slider-img {
  border: solid 10px rgba(0, 0, 0, 0.2);
  width: 60%;

  img {
    display: block;
    width: 100%;
  }

  @media (min-width: 787px) {
    width: 30%;
  }
  @media (min-width: 960px) {
    width: 50%;
  }
  @media (min-width: 1024px) {
    width: 40%;
  }
}

.slider-content {
  width: 90%;
  padding: 3%;
  background-color: #ffffff;
  @media (min-width: 787px) {
    width: calc(100% - 30%);
  }
}

.slider-signature,
.slider-name-client {
  color: $grayTextDark;
}

.slider-signature {
  margin-bottom: 12px;
}

.slider-name-client {
  margin-bottom: 10px;
}

.slider-description {
  color: $grayTextLight;
  line-height: 27px;
  margin-bottom: 24px;
}

.bottom-red .slider-credo {
  color: $red;
}

.bottom-green .slider-credo {
  color: $green;
}

.bottom-orange .slider-credo {
  color: $orange;
}

.bottom-purple .slider-credo {
  color: $purple;
}

.sim-slider {
  width: 100%;
  min-width: 320px;
}

/* General styles */
.sim-slider {
  position: relative;
}

.sim-slider-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  position: relative;
}

.sim-slider-element {
  width: 100%;
  transition: opacity 1s ease-in;
  opacity: 0;
  position: absolute;
  z-index: 2;
  left: 0;
  top: 0;
  display: block;
}

/* Navigation item styles */
div.sim-slider-dots {
  width: 100%;
  height: auto;
  position: absolute;
 right: 0;
  top: -20px;
  z-index: 3;
  text-align: right;
  @media (min-width: 787px) {
    top: -40px;
    left: 0;
  }
}

span.sim-dot {
  width: 18px;
  height: 18px;
  margin: 8px;
  padding: 0;
  display: block;
  background-color: #ffffff;
  border: 1px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
  @media (min-width: 787px) {
    display: inline-block;
  }
}

